{% extends 'shared/base.html' %}
{% load cloudinary %}

{% block content %}

  {% include 'shared/navbar.html' %}

  <div class="container mt-5">
    <h1>Liste des articles</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in object_list %}
        <div class="col">
          <a href="{% url 'posts:show' post.id %}" class="post-link">
            <div class="card h-100">
              <div class="h-50 overflow-hidden">
                <img src="{{ post.cover.url }}" class="card-img-top" alt="post cover image">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">
                  {{ post.content|safe|truncatechars:100 }}
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated {{ post.updated_at }}</small>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock  %}
