{% extends 'shared/base.html' %}
{% load cloudinary %}

{% block content %}
  {% include 'shared/navbar.html' %}

  <div class="img-container">
    {% cloudinary object.cover %}
  </div>

  <div class="container mt-5">
    <a href="{% url 'posts:index' %}"><< Go bask to article list</a>
    <h1>{{ object.title }}</h1>
    {{ object.content|safe }}
    <a href="{% url 'posts:update' object.id %}">Update the article</a>
    <a href="{% url 'posts:delete' object.id %}">Delete the article</a>
  </div>
{% endblock %}
