@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap");
/* line 1, static/style/config/_sizes.scss */
h1 {
  font-size: 24px; }

/* line 3, static/style/config/_fonts.scss */
* {
  font-family: 'Roboto', sans-serif; }

/* line 5, static/style/main.scss */
body {
  margin: 0; }
